<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" parallel = "methods">
  <test name="Regression Testing" >
    <classes>
       <class name="testRunner.SC_ClickingButtonOnHomepage">
       <methods>
       <include name="tc_clickingBankingButton"></include>
       <include name="tc_clickingLendingButton"></include>
       
       
       </methods>
       
       
       </class>
      
       
       
       
       
    </classes>
  </test>
 
  </suite>
