<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="Suite1" parallel = "classes" >
 
 
 
  <test name="Regression Testing" >
    <classes>
       <class name="testRunner.SC_ClickingButtonOnHomepage"/>
        <class name="testRunner.SC_ClickingLendingHomeButton"/>
       
    </classes>
    
    
    

  </test>
 
  </suite>
